{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    nav {
        display: none !important;
    }
</style>
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    {% if tests %}
                        {% for test in tests %}
                            <a href="{% url 'testapp:test_start' %}?test_id={{ test.id }}" 
                                class="btn btn-primary btn-lg d-block mb-3">
                                <h5 class="text-center">{{ test.subject.grade }}-klass</h5>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            Testler tabılmadı!
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}